<app-nav [athlete]="athlete!"></app-nav>
<div class="container">
    <div class="filters-div">
        <div class="dropdown">
            <p class="title">Select Activity Types</p>
            <p class="tip">(All Unless Specified)</p>
            <p class="sub-title">Cycle Sports</p>
            @for (cycleSport of activityTypes.cycleSports; track cycleSport) {
                <label><input type="checkbox" [checked]="selectedActivities.includes(cycleSport)" [value]="cycleSport" (change)="toggleActivities($event)">{{cycleSport}} <span [ngClass]="{orange: getActivityCountByName(cycleSport) > 0, 'light-grey': getActivityCountByName(cycleSport) === 0}">({{getActivityCountByName(cycleSport)}})</span></label>
            }
            <p class="sub-title">Foot Sports</p>
            @for (footSport of activityTypes.footSports; track footSport) {
                <label><input type="checkbox" [checked]="selectedActivities.includes(footSport)" [value]="footSport" (change)="toggleActivities($event)">{{footSport}} <span [ngClass]="{orange: getActivityCountByName(footSport) > 0, 'light-grey': getActivityCountByName(footSport) === 0}">({{getActivityCountByName(footSport)}})</span></label>
            }
            <p class="sub-title">Water Sports</p>
            @for (waterSport of activityTypes.waterSports; track waterSport) {
                <label><input type="checkbox" [checked]="selectedActivities.includes(waterSport)" [value]="waterSport" (change)="toggleActivities($event)">{{waterSport}} <span [ngClass]="{orange: getActivityCountByName(waterSport) > 0, 'light-grey': getActivityCountByName(waterSport) === 0}">({{getActivityCountByName(waterSport)}})</span></label>
            }
            <p class="sub-title">Winter Sports</p>
            @for (winterSport of activityTypes.winterSports; track winterSport) {
                <label><input type="checkbox" [checked]="selectedActivities.includes(winterSport)" [value]="winterSport" (change)="toggleActivities($event)">{{winterSport}} <span [ngClass]="{orange: getActivityCountByName(winterSport) > 0, 'light-grey': getActivityCountByName(winterSport) === 0}">({{getActivityCountByName(winterSport)}})</span></label>
            }
            <p class="sub-title">Other Sports</p>
            @for (otherSport of activityTypes.otherSports; track otherSport) {
                <label><input type="checkbox" [checked]="selectedActivities.includes(otherSport)" [value]="otherSport" (change)="toggleActivities($event)">{{otherSport}} <span [ngClass]="{orange: getActivityCountByName(otherSport) > 0, 'light-grey': getActivityCountByName(otherSport) === 0}">({{getActivityCountByName(otherSport)}})</span></label>
            }
        </div>
        <div class="options">
            <div class="dropdown">
                <p class="title">Units</p>
                <p class="sub-title">Speed</p>
                @for (speedUnit of availableUnits.speed; track speedUnit) {
                    <label [for]="speedUnit">{{speedUnit}}
                        <input type="radio" [id]="speedUnit" name="speed" [value]="speedUnit" [checked]="speedUnit === selectedUnits.speed" (change)="handleUnitFilters(speedUnit, 'speed')">
                    </label>
                }
                <p class="sub-title">Distance</p>
                @for (distanceUnit of availableUnits.distance; track distanceUnit) {
                    <label [for]="distanceUnit">{{distanceUnit}}
                        <input type="radio" [id]="distanceUnit" name="distance" [value]="distanceUnit" [checked]="distanceUnit === selectedUnits.distance" (change)="handleUnitFilters(distanceUnit, 'distance')">
                    </label>
                }
                <p class="sub-title">Time</p>
                @for (timeUnit of availableUnits.time; track timeUnit) {
                    <label [for]="timeUnit">{{timeUnit}}
                        <input type="radio" [id]="timeUnit" name="time" [value]="timeUnit" [checked]="timeUnit === selectedUnits.time" (change)="handleUnitFilters(timeUnit, 'time')">
                    </label>
                }
                <p class="sub-title">Elevation</p>
                @for (elevationUnit of availableUnits.elevation; track elevationUnit) {
                    <label [for]="elevationUnit">{{elevationUnit}}
                        <input type="radio" [id]="elevationUnit" name="elevation" [value]="elevationUnit" [checked]="elevationUnit === selectedUnits.elevation" (change)="handleUnitFilters(elevationUnit, 'elevation')">
                    </label>
                }
            </div>
        </div>
        <div class="dropdown">
            <p class="title">Graph Filters</p>
            <p class="subtext">(Filter out activities, for example: that snail's pace jog you did with your parents last weekend)</p>
            @for (graphType of availableGraphTypes; track graphType) {
                <div class="clamp-div">
                    <p class="sub-title">{{getGraphTypeLabel(graphType)}}</p>
                    <div class="flex">
                        <input #minInput [id]="graphType" class="range" type="number" (input)="clampUnits(graphType, 'min', $event, getSelectedUnitFromGraphType(graphType))">
                        <span class="ml-5 tag">{{getSelectedUnitFromGraphType(graphType)}}</span>
                        <p class="m-10">to</p>
                        <input #maxInput [id]="graphType" class="range" type="number" (input)="clampUnits(graphType, 'max', $event, getSelectedUnitFromGraphType(graphType))">
                        <span class="ml-5 tag">{{getSelectedUnitFromGraphType(graphType)}}</span>
                        <button class="ml-10 orange-btn" (click)="clampUnits(graphType, null, $event, getSelectedUnitFromGraphType(graphType), true, minInput, maxInput)">Reset</button>
                    </div>
                </div>
            }
        </div>
        <button class="reset-points orange-btn" (click)="reloadPage()">Reset Deleted Points</button>
    </div>
    <p>Select Graphs</p>
    <div>
        @if (athlete && activities.length > 0) {
            @for (graphType of availableGraphTypes; track graphType) {
                <button
                    [ngClass]="{selected: graphTypes.includes(graphType)}"
                    (click)="addOrRemoveGraphType(graphType)">
                    {{getGraphTypeLabel(graphType)}}
                </button>
            }
        } @else {
            <p>Loading...</p>
        }
    </div>
    <div class="chart-container">
        <canvas id="MyChart" >{{ chart }}</canvas>
    </div>
</div>