.selected {
    background-color: rgb(156, 156, 156);
}

.filters-div {
    display: flex;
}

.dropdown {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 200px;
    overflow-y: scroll;
    border: 1px solid black;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.range {
    width: 60px;
}

.m-10 {
    margin: 10px;
}

.ml-5 {
    margin-left: 5px;
}

.ml-10 {
    margin-left: 10px;
}