<div class="container">
  <div class="outer">
    <h1 class="title">
      <span class="orange">P</span><span class="orange-fade">e</span>rformance
      <span class="orange">G</span><span class="orange-fade">r</span>aphs
    </h1>
    <div class="content">
      <p class="text">Login with Strava to access</p>
      <button (click)="loginRedirect()" class="graph-btn btn mb-20">
        Login
      </button>
      <p class="text">Or...</p>
      <button (click)="demo()" class="graph-btn btn mb-20">Demo Mode</button>
      <p class="text small">(Trouble logging in? Try this)</p>
      <button class="graph-btn btn" (click)="clearLocalStorage()">
        Clear Cookies/Storage
      </button>
    </div>
  </div>
</div>
