.container {
    width: 100%;
    height: 100vh;
    background-image: url(../../../../public/pattern.png);
    background-size: 1000px 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -100px;
}

.content {
    border: 2px solid white;
    padding: 3rem 2rem;
    width: fit-content;
    border-radius: 30px;
    font-size: 1.5rem;
    box-shadow: -3px 5px 20px var(--orange);
    animation: 1s bounce-in;
}

@keyframes bounce-in {
    0% {
        translate: -100vw;
    }
    50% {
        translate: 200px;
    }
    75% {
        translate: -100px;
    }
    80% {
        translate: 20px;
    }
    90% {
        translate: -20px;
    }
    100% {
        translate: 5px;
    }
}

p {
    margin: 0;
}

.text {
    margin-bottom: 5px;
}

.btn {
    font-size: 1.2rem;
    box-shadow: -3px 5px 1px var(--orange);
    &:hover {
        background-color: var(--white-hover);
    }
}

.title {
    font-size: 3rem;
}

.orange {
    color: var(--orange);
}

.orange-fade {
    background-image: linear-gradient(to right, var(--orange), white);
    color: transparent;
    background-clip: text;
}

@media screen and (max-width: 700px) {
    .btn {
        &:hover {
            background-color: white;
        }
    }
}

@media screen and (max-width: 600px) {
    .title {
        font-size: 2.5rem;
    }

    .content {
        font-size: 1.2rem;
    }

    .btn {
        font-size: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .title {
        font-size: 2.2rem;
    }

    .content {
        font-size: 1rem;
    }
}

@media screen and (max-width: 420px) {
    .title {
        font-size: 1.8rem;
    }

    .content {
        font-size: 0.8rem;
    }

    .btn {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 340px) {
    .title {
        font-size: 1.6rem;
    }

    .content {
        font-size: 0.8rem;
    }

    .btn {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 300px) {
    .title {
        font-size: 1.4rem;
    }

    .content {
        font-size: 0.7rem;
    }

    .btn {
        font-size: 0.9rem;
    }
}