* {
    margin: 0;
    color: white;
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    .username {
        border-bottom: 1px solid var(--light-grey);
    }
    div {
        margin: 0 20px;
    }
}

.light-grey {
    color: var(--light-grey);
}

button {
    cursor: pointer;
    background-color: var(--orange);
    color: white;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 14px;
}

.logout-btn {
    font-size: 20px;
}

.about-btn {
    margin-bottom: 3px;
    font-size: 20px;
    background-color: var(--grey);
}

.btn-div {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 560px) {
    .bar {
        padding: 5px 10px;
        div {
            margin: 0 8px;
        }
    }
}

@media screen and (max-width: 500px) {
    .bar {
        div {
            margin: 0 4px;
        }
    }

    .title {
        font-size: 24px;
    }

    .logout-btn, .about-btn {
        font-size: 16px;
    }
}

@media screen and (max-width: 400px) {
    .title {
        font-size: 18px;
    }

    .bar {
        .username, .greeting {
            font-size: 10px;
        }
    }
}
