<div class="bar">
    @if (athlete()) {
        <div>
            <p class="username">Username: <span class="light-grey">{{athlete().username}}</span></p>
            <p class="greeting">Hello <span class="light-grey">{{athlete().firstname}} {{athlete().lastname}}!</span></p>
        </div>
    }
    <div>
        <h1 class="title">
            <span class="orange">P</span>
            <span class="orange-fade">e</span>rformance <span class="orange">G</span><span class="orange-fade">r</span>aphs</h1>
        <p class="light-grey">(by Kieran M.)</p>
    </div>
    <div class="btn-div">
        <button class="about-btn btn" (click)="about()">About</button>
        <button class="logout-btn btn" (click)="logout()">Logout</button>
    </div>
</div>