<app-nav [athlete]="athlete!"></app-nav>
<div class="container">
    <button class="btn" (click)="backHome()">Back Home</button>
    <section class="section">Hey there! My name is Kieran Mueller, and I am a Full-Stack Software Developer from Minneapolis, Minnesota.
        Being quite active (hockey, cycling), I needed both a way to visualize my data, and create a new and exciting side project, Performance Graphs is just that! Included is a demo mode, 
        for users who may not have a Strava account yet, or are simply here to checkout the project. Thanks for visiting!
    </section>
    <section>Buy Me a Coffee <a class="link" href="https://buymeacoffee.com/kieranmueller">Here!</a></section>
    <section class="section"><a class="link" href="mailto:kieran98mueller@gmail.com?subject=Performance%20Graphs%20">Email</a> me to report an issue, bug, or request a new feature</section>
    <section>View source code <button class="btn" (click)="github()">GitHub</button></section>
    <section>My YouTube <button class="btn" (click)="youtube()">YouTube</button></section>
    <img loading="eager" class="img" src="../../../../cycling.jpg" alt="The site creator sitting on his road bike, in front of the Minnesota State Capital in St. Paul">
</div>
