.container {
    margin-top: 10px;
    margin-left: 15px;
}

.btn {
    background-color: white;
    border: none;
    color: black;
    outline: none;
    padding: 6px;
    cursor: pointer;
    transition: 0.2s;
    margin: 1px;
    margin-bottom: 10px;
    &:hover {
        background-color: var(--white-hover);
    }
    &:focus-visible {
        transition: 0s;
        outline: 3px solid var(--orange);
        z-index: 1;
    }
    &::selection {
        background-color: var(--orange);
        color: white;
    }
}

section {
    width: 65vw;
    margin-bottom: 10px;
    &::selection {
        color: var(--orange);
    }
}

.img {
    width: 70vw;
    &::selection {
        background-color: white;
    }
}

.link {
    color: var(--orange);
    transition: 0.2s;
    &:hover {
        color: var(--orange-hover);
    }
    &:focus-visible {
        transition: 0s;
    }
    &::selection {
        background-color: white;
        color: var(--orange);
    }
}

@media screen and (max-width: 700px) {
    .btn {
        &:hover {
            background-color: white;
        }
    }

    .link {
        &:hover {
            color: var(--orange);
        }
    }
}

@media screen and (max-width: 644px) {
    section {
        width: 90vw;
    }

    .img {
        width: 90vw;
    }
}