:root {
    --dark: #141413;
    --grey: #343431;
    --grey-hover: #282826;
    --light-grey: #c2c1bb;
    --orange: #fc5200;
    --orange-hover: #d04500;
    --white-hover: #d5d5d5;
  }

  @font-face {
    font-family: Poppins;
    src: url(../public/font/Poppins-Regular.ttf);
  }

  * {
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    touch-action: manipulation;
  }

  body {
    background-color: var(--dark);
    color: white;
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
  }

  .graph-btn {
    background-color: white;
    border: none;
    color: black;
    outline: none;
    padding: 6px;
    cursor: pointer;
    transition: 0.2s;
    margin: 1px;
    &:focus-visible {
        transition: 0s;
        outline: 3px solid var(--orange);
    }
    &::selection {
        background-color: var(--orange);
        color: white;
    }
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-5 {
    margin-top: 5px;
}

.mt-10 {
    margin-top: 10px;
}

.orange {
    color: var(--orange);
}

.orange-fade {
    background-image: linear-gradient(to right, var(--orange), white);
    color: transparent;
    background-clip: text;
}