:root {
    --dark: #141413;
    --grey: #343431;
    --light-grey: #c2c1bb;
    --orange: #fc5200;
  }

  @font-face {
    font-family: Poppins;
    src: url(../public/font/Poppins-Regular.ttf);
  }

  * {
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  body {
    background-color: var(--dark);
    color: white;
    font-family: Poppins, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }